/*-------- Globals --------*/
* {
  color: white;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000428;
  background-image: url(../img/dots.png);
  background-size: 100%;
  margin: 0;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  color: white;
  height: 5em;
  justify-content: space-between;
  width: 100%;
}

/*-------- Main Navbar --------*/
.navbar__logo {
  width: 12em;
  padding: 1.5em 0.75em 0.75em 0.75em;
}

/*---- Side Navbar ----*/
.sidenav__list {
  display: flex;
  position: fixed;
  top: 0;
  right: 100%;
  background-color: #0004289c;
  height: 100vh;
  width: 16em;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
  z-index: 1;
}

.toggle {
  right: 0;
  box-shadow: 1px 0 10.3em 0.1em rgba(0, 0, 0, 0.4);
}

.sidenav__menu {
  display: flex;
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
  width: 2em;
  height: 1.8em;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  cursor: pointer;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
}

.menu__list {
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu__list img {
  width: 11em;
  padding: 0 1em;
}

.menu__item {
  text-align: center;
  padding: 0.5em 0;
  margin: 0 0.6em;
}

.menu__item:hover {
  background-color: #20b2aa;
}

.menu__item--link {
  position: relative;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding-bottom: 4px;
}

.menu__item--link:hover::before {
  transform: scaleX(1);
}

.separate__item i {
  font-size: 2em;
  transform: rotate(90deg) scaleY(6.5) scaleX(0.7);
  color: #20b2aa;
  margin-bottom: 0.5em;
}

/*---- Sidenavbar Animation ----*/
.lines {
  width: 100%;
  height: 3px;
  border-radius: 0.3em;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .sidenav__menu {
  background-color: white;
}

/*---- Search Bar ----*/
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5em;
  height: 10em;
}

.search-bar p {
  top: 50%;
  font-family: "Nixie One", cursive;
  font-weight: bolder;
  width: 24em;
  margin: 0 auto;
  border-right: 0.1em solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.search-bar input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.1em solid white;
  border-radius: 11em;
  color: white;
  font-size: 1em;
  height: 3em;
  padding: 0 1em;
  width: 60%;
  outline: none;
  margin: auto;
}

.search-bar ::placeholder {
  color: white;
}

.search-bar input:focus {
  border: 0.1em solid #20b2aa;
}

/* Typewriter Animation */
.typewriter {
  animation: typewriter 3s steps(30) 1s 1 normal both,
  blinkCursor 500ms steps(30) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 12.5em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgb(32, 178, 170, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*---- Carrousel ----*/
.carousel {
  position: relative;
  padding-left: 2em;
  margin-bottom: 1em;
  width: 100%;
}

.carousel__list:hover .carousel-item {
  opacity: 0.3;
}

.carousel__list:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 200px;
  height: 250px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: flex-start;
  background: linear-gradient(to top,rgba(0, 0, 0, 0.9) 0%,
                                     rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
}

.carousel-item__details i {
  color: #20b2aa;
  font-size: 1.5em;
}

.carousel-item__details--title {
  color: white;
  margin: 5px 0px 0px 0px;
}

.carousel-item__details--img {
  width: 20px;
}

.carousel-item__details--subtitle {
  color: white;
  font-size: 8px;
  margin: 3px 0px;
}

.categories__title {
  position: absolute;
  color: white;
  font-size: 16px;
  padding-left: 1.5em;
  width: 100%;
}

.categories__title span {
  color: #20b2aa;
  font-size: 1.4em;
}

.categories__title .categories__title--section {
  font-size: 1.2em;
  color: white;
}

.carousel-item:hover .carousel-item__details {
  opacity: 1;
}

/*---- Carrousel Animation ----*/
.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.carousel__list {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

/* Footer */
.footer {
  display: grid;
  border-top: solid 0.2em #D2D2D2;
  grid-column-gap: 2em;
  grid-template-columns: 10% auto;
  padding: 0.5em 0.5em 0.2em 0;
  margin-top: 1em;
  color: white;
}

.footer__item {
  border: 0;
  padding: 0.2em;
  font-size: 0.9em;
  text-align: right;
}

.footer__item a {
  cursor: pointer;
  padding-left: 1.5em;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer i {
  font-size: 1.5em;
}

.footer i:hover {
  text-shadow: 0.08em 0.08em 0.08em #20b2aa;
}

.footer img {
  height: 2em;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
  background: #D2D2D2;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.2em;
}
::-webkit-scrollbar:hover {
  background: #b3b3b3;
  box-shadow: 002px1pxrgba (0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active {
  background: #999;
}